<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.opthelpersever.mapper.FoodChooseMapper">

<!--    食品列表信息-->
    <resultMap id="foodListResultMap" type="com.common.opthelpersever.entity.FoodList">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
<!--    查询列表-->
    <select id="queryFoodList" resultType="com.common.opthelpersever.entity.FoodList" resultMap="foodListResultMap">
        select *
        from food_list;
    </select>
</mapper>