<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.opthelperserver.mapper.FoodChooseMapper">

<!--    食品列表信息-->
    <resultMap id="foodListResultMap" type="com.common.opthelperserver.entity.FoodList">
        <id column="id" property="id"/>
        <result column="food_name" property="foodName"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
<!--    查询列表-->
    <select id="queryFoodList" resultType="com.common.opthelperserver.entity.FoodList" resultMap="foodListResultMap">
        select *
        from food_list;
    </select>
<!--    新增食品-->
    <insert id="addFoodList" parameterType="com.common.opthelperserver.entity.FoodList">
        insert into food_list (food_name, create_time, update_time)
        values (#{foodName, jdbcType = VARCHAR}, #{createTime, jdbcType = VARCHAR}, #{updateTime, jdbcType = VARCHAR},)
    </insert>
<!--    通过名称查询-->
    <select id="queryListByName" resultMap="foodListResultMap" parameterType="com.common.opthelperserver.entity.FoodList">
        select food_name
        from food_list
        <where>
            <if test="foodName != null">
                and food_name = #{foodName, jdbcType = VARCHAR}
            </if>
        </where>
    </select>
</mapper>